[submodule "libDaisy"]
	path = spark/cpp/libDaisy
	url = https://github.com/clectric-diy/libDaisy.git
[submodule "DaisySP"]
	path = spark/cpp/DaisySP
	url = https://github.com/clectric-diy/DaisySP.git
[submodule "stmlib"]
	path = spark/cpp/stmlib
	url = https://github.com/clectric-diy/stmlib.git
